<div class="panel-header ">
    <div class="header text-center">
        <h2 class="title">MIS PRESTAMOS, SOLICITUDES Y PAGOS</h2>
    </div>
</div>

<div class="main-content">
    <div class="row">
        <div class="col-md-8">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Solicitudes De Prestamo</mat-card-title>
                    <mat-card-subtitle *ngIf="numrequests == 0">No tienes
                        <hr>
                        <button routerLink="/dashboard/solicitud">Solicitalo Ya</button>
                    </mat-card-subtitle>

                </mat-card-header>
                <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                <mat-card-content>
                    <div class="text-black" *ngFor="let request of requests">
                        <p> {{ request.createdAt | date: 'shortDate' }}</p>
                        <p *ngFor="let producto of productos | searchnameproduct: request.idProduct"> {{ producto.name }}</p>
                        <p> Monto: ${{ request.value | number: '1.0-0' }} </p>
                        <p> Plazo: {{ request.time }} meses</p>
                        <p>Estado</p>
                        <button class="btDone" *ngIf="request.estate == 'Pendiente'" mat-raised-button>{{request.estate }}</button>
                        <button class="btInProgress" *ngIf="request.estate == 'Asignada'" mat-raised-button>{{request.estate }}</button>
                        <button class="btToDo" *ngIf="request.estate == 'Aprobada'" mat-raised-button>{{request.estate }}</button>
                        <button class="btErr" *ngIf="request.estate == 'Rechazada'" mat-raised-button>{{request.estate }}</button>
                        <hr>
                        <p>Requisitos Faltantes</p>
                        <button *ngIf="user == undefined && regPersonales" routerLink="/dashboard/datospersonales" class="button3">Datos Personales</button>
                        <button *ngIf="request.regInmueble == false && regInmueble" routerLink="/dashboard/datosinmueble" class="button3">Datos Del Inmueble</button>
                        <button *ngIf="request.regVehiculo == false && regVehiculo" routerLink="/dashboard/datosvehiculo" class="button3">Datos Del Vehiculo</button>
                        <button *ngIf="regInmueble" routerLink="/dashboard/datosconstruccion" class="button3">Datos Construccion</button>
                        <button *ngIf="request.regTrabajo == false && regTrabajo" routerLink="/dashboard/datostrabajo" class="button3">Datos De Trabajo</button>
                        <button *ngIf="request.regReferencias == false && regReferencias" routerLink="/dashboard/datosreferencias" class="button3">Referencias</button>
                        <hr>
                        <p>Imagen O PDF De Las 2 Caras De Tu Cedula </p>
                        <input type="file" class="file-upload" multiple>
                        <button class="button3">Subir Documento</button>
                        <hr>
                        <p>Imagen O PDF De Las 2 Caras De Tu Tarjeta De Propiedad</p>
                        <input type="file" class="file-upload" multiple>
                        <button class="button3">Subir Documento</button>
                        <hr>
                        <p>Imagen O PDF De La Matricula Inmobiliaria</p>
                        <input type="file" class="file-upload" multiple>
                        <button class="button3">Subir Documento</button>
                    </div>
                </mat-card-content>

            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="example-card ">
                <mat-card-header class="text-center">
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{usuario.name}}</mat-card-title>
                    <mat-card-subtitle>{{usuario.surname}}</mat-card-subtitle>
                </mat-card-header>
                <img class="aa" mat-card-image src="../../../assets/img/mike.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p class="text-center">
                        {{usuario.email}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>COMPLETO</button>
                    <button mat-button>INCOMPLETO</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>



<!-- <h3>Formulario:</h3>
<pre>Valid:{{formularioSolicitud.valid}}</pre>
<pre>{{tasa}}</pre>
<pre>{{formularioSolicitud.value | json}}</pre> -->


<pre class="noS">{{this.regInmueble}}</pre>
<pre class="noS">{{this.regPersonales}}</pre>
<pre class="noS">{{this.regVehiculo}}</pre>
<pre class="noS">{{this.regTrabajo}}</pre>
<pre class="noS">{{this.regReferencias}}</pre>
