<div class="panel-header">
  <div class="header text-center">
    <h2 class="title">MIS PRESTAMOS, SOLICITUDES Y PAGOS</h2>
    <h6>"EL DESEMBOLSO DE LOS RECURSOS DEPENDE DE LA DISPONIBILIDAD DE LOS MISMOS"</h6>
  </div>
</div>

<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Solicitudes De Prestamo</mat-card-title>
          <mat-card-subtitle *ngIf="numrequests == 0">No tienes
            <hr>
            <button routerLink="/dashboard/solicitud">Solicitalo Ya</button>
          </mat-card-subtitle>

        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
          <div class="text-black" *ngFor="let request of requests">
            <h3> {{ request.createdAt | date: 'shortDate' }}</h3>
            <h3 *ngFor="let producto of productos | searchnameproduct:
              request.idProduct"> {{ producto.name }}</h3>
            <h3> Monto: ${{ request.value | number: '1.0-0' }} </h3>
            <h3> Plazo: {{ request.time }} meses</h3>
            <p> Tasa E.A: {{ requests[0].tasaEfectivaAnual | number:'0.1-4' }} %</p>
            <p> Tasa M.V: {{ requests[0].tasaEfectivaMes | number:'0.1-4' }} %</p>
            <p>Estado</p>
            <button class="btDone" *ngIf="request.estate == 'Pendiente'"
              mat-raised-button>{{request.estate }}</button>
            <button class="btInProgress" *ngIf="request.estate == 'Facturacion'"
              mat-raised-button>{{request.estate }}</button>
            <button class="btToDo" *ngIf="request.estate == 'Aprobada'"
              mat-raised-button>{{request.estate }}</button>
            <button class="btErr" *ngIf="request.estate == 'Rechazada'"
              mat-raised-button>{{request.estate }}</button>
            <button class="btToDo" *ngIf="request.estate == 'Completo'"
              mat-raised-button>{{request.estate }}</button>
            <hr>

            <div *ngIf="request.estate == 'Completo'">
              <p>Ahora Pasaremos A Verificar Tus Documentos</p>
              <p>Apenas Tengamos Respuesta Te Enviaremos Un Email Con La Respuesta A Tu Solicitud</p>
            </div>

            <div *ngIf="request.estate == 'Aprobada'">
              <p>Felicidades Tu Solicitud A Sido Aprobada</p>
              <p>Te Consignaremos En Tu Cuenta Lo Antes Posible</p>
            </div>

            <div *ngIf="request.estate == 'Facturacion'">
              <p>Ya Consignamos El Dinero En Tu Cuenta El Dia: {{requests[0].fechaConsignacion | date: 'dd' }} de {{requests[0].fechaConsignacion | date: 'MM/yyyy' }}</p>
              <p>En El Menu Escoge La Opcion "Mi Prestamo"</p>
            </div>



            <div *ngIf="!regAllOk">
              <p>Requisitos Faltantes</p>
              <p><small>Por favor complete cada uno de los formularios Y
                  documentos que se le muestran</small></p>


              <button *ngIf="request.regPersonalesOk === false && regPersonales"
                routerLink="/dashboard/datospersonales" class="button3">Datos
                Personales</button>
              <button *ngIf="request.regInmuebleOk === false && regInmueble"
                routerLink="/dashboard/datosinmueble" class="button3">Datos Del
                Inmueble</button>
              <button *ngIf="request.regVehiculoOk === false && regVehiculo"
                routerLink="/dashboard/datosvehiculo" class="button3">Datos Del
                Vehiculo</button>
              <!-- <button *ngIf="request.regInmueble == false && regInmueble" routerLink="/dashboard/datosconstruccion" class="button3">Datos Construccion</button> -->
              <button *ngIf="regTrabajo && !request.regTrabajoOk"
                routerLink="/dashboard/datostrabajo" class="button3">Datos De
                Trabajo</button>
              <button *ngIf="request.regReferenciasOk === false &&
                regReferencias"
                routerLink="/dashboard/datosreferencias" class="button3">Referencias
                Personales</button>
              <button *ngIf="request.regReferenciasComOk === false &&
                regReferenciasCom" routerLink="/dashboard/datosreferenciascom"
                class="button3">Referencias Comerciales</button>

              <hr>

              <div class="row" *ngIf="(regPasaporte &&
                !usuarioTest.pasaportePath) || (regCedula &&
                !usuarioTest.cedulaPath)">
                <div class="col-md-2">
                  <p class="text-center">Cedula</p>
                  <img [src]="'../../../assets/img/cedula.jpg'" class="photo"
                    alt="Sin Imagen" (click)="cedulaInput.click()">
                </div>
                <div class="col-md-10">
                  <input type="file" class="custom-file-upload"
                    accept=".doc,.docx,.pdf,image/x-png, image/gif, image/jpeg,
                    image/jpg"
                    (change)="onDocSelected($event, 'cedula')" #cedulaInput>
                  <button *ngIf="buttonSelect0 == true" (click)="uploadExtracto('cedula')" mat-mini-fab><mat-icon>backup</mat-icon>Subir
                    Documento</button>
                  <p><small> Ambas Caras</small></p>
                </div>
              </div>
              <hr *ngIf="(regPasaporte && !usuarioTest.pasaportePath) &&
                (regCedula && !usuarioTest.cedulaPath)">

              <div class="row" *ngIf="(regPasaporte &&
                !usuarioTest.pasaportePath) && (regCedula &&
                !usuarioTest.cedulaPath)">
                <div class="col-md-2">
                  <p class="text-center">Pasaporte</p>
                  <img [src]="'../../../assets/img/pasaporte.jpg'" class="photo"
                    alt="Sin Imagen" (click)="pasaporteInput.click()">
                </div>
                <div class="col-md-10">
                  <input type="file" class="custom-file-upload"accept=".doc,.docx,.pdf,image/x-png,
                    image/gif, image/jpeg, image/jpg"
                    (change)="onDocSelected($event, 'pasaporte')" #pasaporteInput>
                  <button *ngIf="buttonSelect1 == true" (click)="uploadExtracto('pasaporte')" mat-mini-fab><mat-icon>backup</mat-icon>Subir
                    Documento</button>
                </div>
              </div>
              <hr *ngIf="(regPasaporte && !usuarioTest.pasaportePath) &&
                (regCedula && !usuarioTest.cedulaPath)">

              <div class="row" *ngIf="regTarjetav && !request.tarjetavPath">
                <div class="col-md-2">
                  <p class="text-center">Tarjeta De Propiedad</p>
                  <img [src]="'../../../assets/img/Tvehiculo.jpg'" class="photo"
                    alt="Sin Imagen" (click)="tarjetavInput.click()">
                </div>
                <div class="col-md-10">
                  <input type="file" class="custom-file-upload"accept=".doc,.docx,.pdf,image/x-png,
                    image/gif, image/jpeg, image/jpg"
                    (change)="onDocSelected($event, 'tarjetav')" #tarjetavInput>
                  <button *ngIf="buttonSelect2 == true"  (click)="uploadExtracto('tarjetav')" mat-mini-fab><mat-icon>backup</mat-icon>Subir
                    Documento</button>
                </div>
              </div>
              <hr *ngIf="regTarjetav && !request.tarjetavPath">

              <div class="row" *ngIf="regMatricula && !request.matriculaPath">
                <div class="col-md-2">
                  <p class="text-center">Matricula Inmobiliaria</p>
                  <img [src]="'../../../assets/img/tradicion.jpg'" class="photo"
                    alt="Sin Imagen" (click)="matriculaInput.click()">
                </div>
                <div class="col-md-10">
                  <input type="file" class="custom-file-upload"
                    accept=".doc,.docx,.pdf,image/x-png, image/gif, image/jpeg,
                    image/jpg"
                    (change)="onDocSelected($event, 'matricula')" #matriculaInput>
                  <button *ngIf="buttonSelect3 == true" (click)="uploadExtracto('matricula')" mat-mini-fab><mat-icon>backup</mat-icon>Subir
                    Documento</button>
                  <p><small> No Mayor A 30 Dias</small></p>
                </div>
              </div>
              <hr *ngIf="regMatricula && !request.matriculaPath">
              <!-- extracto -->
              <div class="row" *ngIf="regExtracto && !request.extractoPath">
                <div class="col-md-2">
                  <p class="text-center">Extractos Bancarios</p>
                  <img [src]="'../../../assets/img/extractobanco.jpg'"
                    class="photo"
                    alt="Sin Imagen" (click)="extractoInput.click()">
                </div>
                <div class="col-md-10">
                  <input type="file" class="custom-file-upload"accept=".doc,.docx,.pdf,image/x-png,
                    image/gif, image/jpeg, image/jpg"
                    (change)="onDocSelected($event, 'extracto')" #extractoInput>
                  <button *ngIf="buttonSelect4 == true" (click)="uploadExtracto('extracto')" mat-mini-fab><mat-icon>backup</mat-icon>Subir
                    Documento</button>
                  <p><small> Ultimos 3 Meses</small></p>
                </div>
              </div>
              <hr *ngIf="regExtracto && !request.extractoPath">
              <!-- fin extracto -->
              <!-- CamaraCom -->
              <div class="row" *ngIf="regCamaraCom && !request.CamaraComPath">
                <div class="col-md-2">
                  <p class="text-center">Camara Y Comercio</p>
                  <img [src]="'../../../assets/img/camaraycomercio.jpg'"
                    class="photo"
                    alt="Sin Imagen" (click)="CamaraComInput.click()">
                </div>
                <div class="col-md-10">
                  <input type="file" class="custom-file-upload"accept=".doc,.docx,.pdf,image/x-png,
                    image/gif, image/jpeg, image/jpg"
                    (change)="onDocSelected($event, 'CamaraCom')" #CamaraComInput>
                  <button *ngIf="buttonSelect5 == true" (click)="uploadExtracto('CamaraCom')" mat-mini-fab><mat-icon>backup</mat-icon>Subir
                    Documento</button>
                  <!-- <p><small> Ultimos 3 Meses</small></p> -->
                </div>
              </div>
              <hr *ngIf="regCamaraCom && !request.CamaraComPath">
              <!-- fin CamaraCom -->
              <!-- extracto -->
              <div class="row" *ngIf="regRut && !request.RutPath">
                <div class="col-md-2">
                  <p class="text-center">Rut</p>
                  <img [src]="'../../../assets/img/Rut.jpg'"
                    class="photo"
                    alt="Sin Imagen" (click)="RutInput.click()">
                </div>
                <div class="col-md-10">
                  <input type="file" class="custom-file-upload"accept=".doc,.docx,.pdf,image/x-png,
                    image/gif, image/jpeg, image/jpg"
                    (change)="onDocSelected($event, 'Rut')" #RutInput>
                  <button *ngIf="buttonSelect6 == true" (click)="uploadExtracto('Rut')" mat-mini-fab><mat-icon>backup</mat-icon>Subir
                    Documento</button>
                  <p><small> Maximo De Hace 3 Meses</small></p>
                </div>
              </div>
              <hr *ngIf="regRut && !request.RutPath">
              <!-- fin Rut -->
              <!-- EstudioObra -->
              <div class="row" *ngIf="regEstudioObra && !request.EstudioObraPath">
                <div class="col-md-2">
                  <p class="text-center">Estudio De Obra</p>
                  <img [src]="'../../../assets/img/EstudioObra.jpg'"
                    class="photo"
                    alt="Sin Imagen" (click)="EstudioObraInput.click()">
                </div>
                <div class="col-md-10">
                  <input type="file" class="custom-file-upload"accept=".doc,.docx,.pdf,image/x-png,
                    image/gif, image/jpeg, image/jpg"
                    (change)="onDocSelected($event, 'EstudioObra')" #EstudioObraInput>
                  <button *ngIf="buttonSelect7 == true" (click)="uploadExtracto('EstudioObra')" mat-mini-fab><mat-icon>backup</mat-icon>Subir
                    Documento</button>
                  <!-- <p><small> Ultimos 3 Meses</small></p> -->
                </div>
              </div>
              <hr *ngIf="regEstudioObra && !request.EstudioObraPath">
              <!-- fin EstudioObra -->
              <!-- ProgramaObra -->
              <div class="row" *ngIf="regProgramaObra && !request.ProgramaObraPath">
                <div class="col-md-2">
                  <p class="text-center">Programa De Obra</p>
                  <img [src]="'../../../assets/img/ProgramaObra.jpg'"
                    class="photo"
                    alt="ProgramaObra" (click)="ProgramaObraInput.click()">
                </div>
                <div class="col-md-10">
                  <input type="file" class="custom-file-upload"accept=".doc,.docx,.pdf,image/x-png,
                    image/gif, image/jpeg, image/jpg"
                    (change)="onDocSelected($event, 'ProgramaObra')" #ProgramaObraInput>
                  <button *ngIf="buttonSelect8 == true" (click)="uploadExtracto('ProgramaObra')" mat-mini-fab><mat-icon>backup</mat-icon>Subir
                    Documento</button>
                  <!-- <p><small> Ultimos 3 Meses</small></p> -->
                </div>
              </div>
              <hr *ngIf="regProgramaObra && !request.ProgramaObraPath">
              <!-- fin ProgramaObra -->
              <!-- Curaduria -->
              <div class="row" *ngIf="regCuraduria && !request.CuraduriaPath">
                <div class="col-md-2">
                  <p class="text-center">Curaduria</p>
                  <img [src]="'../../../assets/img/Curaduria.jpg'"
                    class="photo"
                    alt="Sin Imagen" (click)="CuraduriaInput.click()">
                </div>
                <div class="col-md-10">
                  <input type="file" class="custom-file-upload"accept=".doc,.docx,.pdf,image/x-png,
                    image/gif, image/jpeg, image/jpg"
                    (change)="onDocSelected($event, 'Curaduria')" #CuraduriaInput>
                  <button *ngIf="buttonSelect9 == true" (click)="uploadExtracto('Curaduria')" mat-mini-fab><mat-icon>backup</mat-icon>Subir
                    Documento</button>
                  <!-- <p><small> Ultimos 3 Meses</small></p> -->
                </div>
              </div>
              <hr *ngIf="regCuraduria && !request.CuraduriaPath">
              <!-- fin Curaduria   -->
              <!-- LicenciaConst -->
              <div class="row" *ngIf="regLicenciaConst && !request.LicenciaConstPath">
                <div class="col-md-2">
                  <p class="text-center">Licencia De Construccion</p>
                  <img [src]="'../../../assets/img/LicenciaConst.jpg'"
                    class="photo"
                    alt="Sin Imagen" (click)="LicenciaConstInput.click()">
                </div>
                <div class="col-md-10">
                  <input type="file" class="custom-file-upload"accept=".doc,.docx,.pdf,image/x-png,
                    image/gif, image/jpeg, image/jpg"
                    (change)="onDocSelected($event, 'LicenciaConst')" #LicenciaConstInput>
                  <button *ngIf="buttonSelect10 == true" (click)="uploadExtracto('LicenciaConst')" mat-mini-fab><mat-icon>backup</mat-icon>Subir
                    Documento</button>
                  <!-- <p><small> Ultimos 3 Meses</small></p> -->
                </div>
              </div>
              <hr *ngIf="regLicenciaConst && !request.LicenciaConstPath">
              <!-- fin LicenciaConst -->

            </div>


          </div>


          <!--
              <div class="col-3 mb-3">
                <p>Foto Personal</p>
                <input type="file" class="d-none"
                  (change)="OnPhotoSelected($event)" #photoInput>
                <p><small>Click En La Imagen Para Seleccionar Su Foto</small></p>
                <img [src]="photoSeleted || '../../../assets/img/mike.jpg'"
                  class="photo" alt="Sin Imagen" (click)="photoInput.click()">
                <button type="button" class="btn button3" (click)="uploadPhoto()">Enviar</button>
              </div> -->
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-4">
      <app-datosconstruccion></app-datosconstruccion>
    </div>


  </div>



  <!-- <h3>Formulario:</h3>
<pre>Valid:{{formularioSolicitud.valid}}</pre>
<pre>{{tasa}}</pre>
<pre>{{formularioSolicitud.value | json}}</pre> -->
  <!-- <pre class="noS">{{this.regInmueble}}</pre>
<pre class="noS">{{this.regPersonales}}</pre>
<pre class="noS">{{this.regVehiculo}}</pre>
<pre class="noS">{{this.regTrabajo}}</pre>
<pre class="noS">{{this.regReferencias}}</pre> -->
