          <!--Card-->
          <div class="card x">

            <!--Card content-->
            <div class="card-body ">

              <!-- Form -->
              <form name="">
                <!-- Heading -->
                <h3 class="text-light text-center">
                  <strong>Requisitos Para Empresas De Construccion:</strong>
                </h3>
                <hr>

                <div>
                  <p class="text-white"><i class="fas fa-asterisk text-white"></i>  Certificado de Camara Y Comercio Y Rut De La Empresa</p>
                </div>
                <!-- <div>
                  <p class="text-white"><i class="fas fa-asterisk text-white"></i>  RUT</p>
                </div> -->
                <div >
                <p class="text-white"><i class="fas fa-asterisk text-white"></i>  Cedula Del Representante Legal</p>
                </div>
                <div>
                 <p class="text-white"><i class="fas fa-asterisk text-white"></i>  Extractos Bancarios</p>
                </div>
                <div>
                 <p class="text-white"><i class="fas fa-asterisk text-white"></i>  Estudio Financieros De La Obra</p>
                </div>
                <div>
                 <p class="text-white"><i class="fas fa-asterisk text-white"></i>  Programacion De Obra Y Permisos Curaduria</p>
                </div>
                <div>
                 <p class="text-white"><i class="fas fa-asterisk text-white"></i>  Licencia De Construccion </p>
                </div>

                <div class="text-center">
                  <button type="button" (click)="calc(0)" class="btn btn-indigo  btn-sm">Calcula Tu Prestamo</button>
                  <hr>
                </div>

              </form>
              <!-- Form -->

            </div>

          </div>
          <!--/.Card-->
