<!-- <div class="panel-header">
  <div class="header text-center">
    <h2 class="title">MI ESTADO DE CUENTA</h2>
  </div>
</div>


<div class="main-content">
  <div class="row">

    <div class="col-md-8">
      <div class="card">
        <div class="card-body">




        </div>
      </div>
    </div>


<div class="col-md-4">
  <app-datosconstruccion></app-datosconstruccion>
</div>
</div> --> <div class="ui label">

  <i class="list icon"></i> Counter: {{ counter }}

</div>

<button class="ui primary button" (click)="inc() ">Increment
