<div class="panel-header">
  <div class="header text-center">
    <h2 class="title">Formulario De Inmueble</h2>
  </div>
</div>


<div class="main-content">
  <div class="row">

    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Ahora Completa Los Datos De El Inmueble</h5>
        </div>
        <div class="card-body">


          <form autocomplete="off" [formGroup]="miFormulario"
            (ngSubmit)="guardar()">

            <!-- Primera Fila -->
            <div class="row">

              <!-- Tipo de Inmueble -->
              <mat-form-field appearance="fill" class="form-group col-md-6">
                <mat-select formControlName="tipo">
                  <mat-option selected disabled value="">Escoge...</mat-option>
                  <mat-option value="Casa">Casa</mat-option>
                  <mat-option value="Apartamento">Apartamento</mat-option>
                  <mat-option value="Oficina">Oficina</mat-option>
                  <mat-option value="Bodega">Bodega</mat-option>
                  <mat-option value="Consultorio">Consultorio</mat-option>
                  <mat-option value="Local Comercial">Local Comercial</mat-option>
                  <mat-option value="Lote">Lote</mat-option>
                  <mat-option value="Finca">Finca</mat-option>
                  <mat-option value="Edificio De Apartamentos">Edificio De
                    Apartamentos</mat-option>
                  <mat-option value="Edificio De Oficinas">Edificio De Oficinas</mat-option>
                </mat-select>
                <mat-label><mat-icon>home</mat-icon> <b> Tipo De Inmueble</b></mat-label>
              </mat-form-field>

              <!-- Matricula Inmobiliaria -->
              <mat-form-field class="form-group col-md-6 pl-1">
                <mat-label>Matricula Inmobiliaria Ej:50C-012345</mat-label>
                <input matInput formControlName="matricula" type="text"
                  class="form-control" >
                <mat-error *ngIf="campoEsValido('matricula')">
                  {{getError('matricula')}}
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Segunda Fila -->
            <div class="row">

              <!-- Uso del Inmueble -->
              <mat-form-field appearance="fill" class="form-group col-md-6">
                <mat-select formControlName="uso">
                  <mat-option selected disabled value="">Escoge...</mat-option>
                  <mat-option value="Residencial">Casa</mat-option>
                  <mat-option value="Comercial">Apartamento</mat-option>
                  <mat-option value="Mixto">Oficina</mat-option>
                  <mat-option value="Agropecuario">Bodega</mat-option>
                </mat-select>
                <mat-label><mat-icon>home</mat-icon> <b> Uso Del Inmueble</b></mat-label>
              </mat-form-field>

              <!-- Estrato del Inmueble -->
              <mat-form-field appearance="fill" class="form-group col-md-6">
                <mat-select formControlName="estrato">
                  <mat-option selected disabled value="">Escoge...</mat-option>
                  <mat-option value="1">Estrato 1</mat-option>
                  <mat-option value="2">Estrato 2</mat-option>
                  <mat-option value="3">Estrato 3</mat-option>
                  <mat-option value="4">Estrato 4</mat-option>
                  <mat-option value="5">Estrato 5</mat-option>
                  <mat-option value="6">Estrato 6</mat-option>
                </mat-select>
                <mat-label><mat-icon>home</mat-icon> <b> Estrato Del Inmueble</b></mat-label>
              </mat-form-field>

            </div>
            <!-- Tercera Fila -->
            <div class="row">

              <!-- Departamento del Inmueble -->
              <mat-form-field appearance="fill" class="form-group col-md-4">
                <mat-select formControlName="departamento">
                  <mat-option selected disabled value="">Escoge...</mat-option>
                  <mat-option [value]="item" *ngFor="let item of departamentos">{{item}}</mat-option>
                </mat-select>
                <mat-label><mat-icon>home</mat-icon> <b> Departamento</b></mat-label>
              </mat-form-field>

              <!-- Ciudad del Inmueble -->
              <mat-form-field class="form-group col-md-4">
                <mat-label>Ciudad</mat-label>
                <input matInput formControlName="ciudad" type="text"
                  class="form-control" >
                <mat-error *ngIf="campoEsValido('ciudad')">
                  {{getError('ciudad')}}
                </mat-error>
              </mat-form-field>

              <!-- Barrio del Inmueble -->
              <mat-form-field class="form-group col-md-4">
                <mat-label>Barrio</mat-label>
                <input matInput formControlName="barrio" type="text"
                  class="form-control">
                <mat-error *ngIf="campoEsValido('barrio')">
                  {{getError('barrio')}}
                </mat-error>
              </mat-form-field>

            </div>

            <!-- Cuarta Fila -->
            <div class="row">

              <!-- Direccion -->
              <mat-form-field class="form-group col-md-12">
                <mat-label>Dirección</mat-label>
                <input matInput formControlName="direccion" type="text"
                  class="form-control">
                <mat-error *ngIf="campoEsValido('direccion')">
                  {{getError('direccion')}}
                </mat-error>
              </mat-form-field>

            </div>

            <!-- Quinta Fila -->
            <div class="row">

              <!-- Antiguedad -->
              <mat-form-field class="form-group col-md-4">
                <mat-label>Años De Antiguedad</mat-label>
                <input matInput formControlName="antiguedad" type="number"
                  class="form-control">
                <mat-error *ngIf="campoEsValido('antiguedad')">
                  {{getError('antiguedad')}}
                </mat-error>
              </mat-form-field>

              <!-- Area -->
              <mat-form-field class="form-group col-md-4">
                <mat-label>Area m2</mat-label>
                <input matInput formControlName="area" type="number"
                  class="form-control">
                <mat-error *ngIf="campoEsValido('area')">
                  {{getError('area')}}
                </mat-error>
              </mat-form-field>

              <!-- Valor comercial -->
              <mat-form-field class="form-group col-md-4">
                <mat-label>Valor comercial?</mat-label>
                <input matInput formControlName="valorComercial" type="number"
                  class="form-control">
                <mat-error *ngIf="campoEsValido('valorComercial')">
                  {{getError('valorComercial')}}
                </mat-error>
              </mat-form-field>

            </div>
            <!-- Boton De Enviar Formulario -->
            <div class="form-group d-flex h-100">
              <div class="align-self-end ml-auto">
                <button type="submit" class="btn btn-primary btn-block"
                  [disabled]="miFormulario.invalid">
                  <i class="fa fa-save"></i>
                  Siguiente
                </button>
              </div>
            </div>
          </form>


        </div>
      </div>
    </div>


    <div class="col-md-4">
      <app-datosconstruccion></app-datosconstruccion>
    </div>
  </div>





<!-- <span>Valid</span>
<pre>{{ miFormulario.valid }}</pre>
<br>

<span>Value</span>
<pre>{{ miFormulario.value | json }}</pre>
<br> -->
