.x{
  width: 100%!important;
  font-size: 100%!important;
  background-color: rgb(21,84,154)!important;
  color: black!important;
  border-radius: 50px;
  margin-left: 10px;
  }
.x:hover{
  background-color: rgb(61, 152, 162)!important;
  color: rgb(255, 254, 254)!important;

}
.xfijo{
  width: 80%!important;
  font-size: 100%!important;
  background-color: rgb(9, 9, 10)!important;
  color: rgb(255, 255, 255)!important;
  border-radius: 50px;
  margin-left: 10px;
}
.about{

  font-size: 100%!important;
  background-color: rgb(21,84,154)!important;
  color: rgb(255, 255, 255)!important;
  border-radius: 50px;
  margin-left: 5px;

}
.about:hover{

  color: rgb(0, 0, 0)!important;
}
h5 {
  font-size: 150%;
  font-weight: 700;
}

h2{
  font-size: 150%;
  font-weight: 700;
}

.tx {
  background-color: black;
  box-shadow: 0 1px 15px 1px rgb(39 39 39 / 10%);
  color: red !important;
}
.aa{
  color: rgb(255, 255, 255) !important;
}

.app-view {
  height: 100%;

}

.navbar-spacer {
  flex: 1 1 auto;
}

.navbar {
  z-index: 2;
  background-color: rgb(21,84,154)!important;
}

.navbar-brand {
  text-decoration: none;
  color: white;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.navbar-is-mobile .navbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.navbar-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
           causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.navbar-is-mobile .navbar-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
           `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

/*Set sidenav width*/

mat-sidenav {
  min-width: 230px !important;
  border-right: 1px solid #eee;
  box-shadow: 6px 0 6px rgba(0, 0, 0, .1);
  background-color:rgb(21,84,154);

}

/* Set height of wrapper to stop content from moving up & down */

.progress-bar-container {
  height: 5px;
}

a.mat-list-item.active {
  background: rgba(0, 0, 0, .04);
}

#push-bottom {
  position: absolute;
  bottom: 0;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {

}

@media (min-width: 894px) {

}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}



