<div class="navbar-container">
    <!-- Navbar -->
    <mat-toolbar class="navbar" color="primary">
        <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
        <a class="navbar-brand" (click)="snav.toggle()" matTooltip="Home">
            <h1>Lendillano</h1>
        </a>
        <span class="navbar-spacer"></span>

        <mat-menu #notificationMenu="matMenu" xPosition="before" yPosition="above" [overlapTrigger]="false">
            <a mat-menu-item><span>Tienes una nueva factura</span></a>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="userMenu">
      <mat-icon>person</mat-icon>
      <span fxShow fxHide.xs>
        <a *ngIf="this.rolesUsuario.indexOf('admin') != -1 && flaq">Administrador: {{usuario.name}} {{usuario.surname}}</a>
        <a *ngIf="this.rolesUsuario.indexOf('moderator') != -1  && flaq && this.rolesUsuario.indexOf('admin') == -1">Analista: {{usuario.name}} {{usuario.surname}}</a>
        <a *ngIf="this.rolesUsuario.indexOf('moderator') == -1  && flaq && this.rolesUsuario.indexOf('admin') == -1">{{usuario.name}} {{usuario.surname}}</a>
      </span>
    </button>
        <mat-menu #userMenu="matMenu" xPosition="before" yPosition="above" [overlapTrigger]="false">
            <a mat-menu-item [routerLink]="['/dashboard/misdatos']">
                <mat-icon>person</mat-icon><span>Mi Cuenta</span>
            </a>
            <a mat-menu-item (click)="logout()" [routerLink]="['/']">
                <mat-icon>exit_to_app</mat-icon><span>Salir</span>
            </a>
        </mat-menu>
    </mat-toolbar>

    <!-- Side nav -->
    <mat-sidenav-container class="navbar-sidenav-container">
        <mat-sidenav #snav [mode]="!isSmallScreen ? 'side' : 'over'" [(opened)]="opened" fixedTopGap="56" class="sidenav aa app-view">
            <mat-nav-list>
                <h3 mat-subheader class="aa">Menu</h3>
                <mat-list>

                    <mat-list-item *ngIf="role === 'user'" routerLinkActive="active" routerLink="/dashboard/misolicitud" class="x aa">
                        <mat-icon mat-list-icon>space_dashboard</mat-icon>
                        <p mat-line> Mi Solicitud </p>
                    </mat-list-item>
                    <mat-list-item *ngIf="role === 'moderator'" routerLinkActive="active" routerLink="/dashboard/solicitudes" class="x aa">
                        <mat-icon mat-list-icon>space_dashboard</mat-icon>
                        <p mat-line> Para Estudio </p>
                    </mat-list-item>
                    <mat-list-item *ngIf="role === 'moderator' || role === 'admin'" routerLinkActive="active" routerLink="/dashboard/aprobados" class="x aa">
                        <mat-icon mat-list-icon>space_dashboard</mat-icon>
                        <p mat-line> Aprobados </p>
                    </mat-list-item>
                    <mat-list-item *ngIf="role === 'moderator'" routerLinkActive="active" routerLink="/dashboard/rechazados" class="x aa">
                        <mat-icon mat-list-icon>space_dashboard</mat-icon>
                        <p mat-line> Rechazados </p>
                    </mat-list-item>
                    <mat-list-item *ngIf="role === 'moderator' || role === 'admin'" routerLinkActive="active" routerLink="/dashboard/cartera" class="x aa">
                        <mat-icon mat-list-icon>space_dashboard</mat-icon>
                        <p mat-line> Cartera </p>
                    </mat-list-item>
                    <mat-list-item *ngIf="role === 'admin'" routerLinkActive="active" routerLink="/dashboard/productos" class="x aa">
                        <mat-icon mat-list-icon>space_dashboard</mat-icon>
                        <p mat-line> Productos </p>
                    </mat-list-item>
                    <mat-list-item *ngIf="role === 'admin'" routerLinkActive="active" routerLink="/dashboard/usuarios" class="x aa">
                        <mat-icon mat-list-icon>groups</mat-icon>
                        <p mat-line> Usuarios </p>
                    </mat-list-item>
                    <mat-list-item *ngIf="role === 'user'" routerLinkActive="active" routerLink="/dashboard/estadocuenta" class="x aa">
                        <mat-icon mat-list-icon>savings</mat-icon>
                        <p mat-line> Mi Préstamo </p>
                    </mat-list-item>
                    <mat-list-item routerLinkActive="active" routerLink="/dashboard/misdatos" class="x aa">
                        <mat-icon mat-list-icon>person</mat-icon>
                        <p mat-line> Mi Cuenta </p>
                    </mat-list-item>

                </mat-list>
                <mat-divider></mat-divider>

                <h3 mat-subheader class="aa">Nosotros</h3>
                <a class="about" mat-list-item routerLinkActive="active" [routerLink]="['/dashboard/about']">
                    <mat-icon mat-list-icon class="aa">info_outline</mat-icon>
                    <p mat-line> Acerca De Nosotros</p>
                </a>
                <a mat-list-item routerLinkActive="active" class="xfijo" (click)="logout()">
                    <i class="fas fa-sign-out-alt"></i>
                    <p mat-line>SALIR</p>
                </a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>

            <router-outlet #child></router-outlet>

            <app-footer></app-footer>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
