<!--Card-->
<div class="card x">

  <!--Card content-->
  <div class="card-body ">

    <!-- Form -->
    <form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="register()" class=" text-white text-center">
      <h1>Ingresa tus datos como aparecen en tu cédula</h1>
      <button (click)="login()">Ya Eres Cliente?</button>
      <div class="row">
        <div class="col-md-6">
          <p>Primer Nombre:</p>
          <input  type="text" formControlName="name" placeholder="Primer nombre" (keyup)="cambios('name')">
        </div>

        <div class="col-md-6">
          <p>Segundo Nombre:</p>
          <input  type="text" formControlName="secondname" placeholder="Segundo nombre" (keyup)="cambios('secondname')">
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-md-6">
          <p>Primer Apellido:</p>
        <input type="text" formControlName="surname" placeholder="Primer apellido" (keyup)="cambios('surname')">
        </div>

        <div class="col-md-6">
          <p>Segundo Apellido:</p>
          <input type="text" formControlName="secondsurname" placeholder="Segundo apellido" (keyup)="cambios('secondsurname')">
        </div>
      </div>

        <hr>

        <div class="row">
          <div class="col-md-6">
            <p>Email: </p>
            <input type="email" formControlName="email" placeholder="Ingrese su email">
          </div>

          <div class="col-md-6">
            <p>Contraseña: </p>
            <input type="password" formControlName="password" placeholder="Ingrese su contraseña">
          </div>
          <!-- <div class="col-md-12">
            <p>Tipo Prestamo: </p>
            <input type="text" formControlName="typeloan" placeholder="Ingrese su contraseña">
          </div> -->
        </div>

        <hr>

      <p> </p>
      <fieldset class="form-check mb-3">
        <input type="checkbox" class="form-check-input" id="checkbox1" formControlName="terminos">
        <a  class="" for="checkbox1" data-toggle="modal" data-target="#exampleModal">
          Acepto Términos Y Condiciones
        </a>
      </fieldset>
      <fieldset class="form-check mb-3">
        <input type="checkbox" class="form-check-input" id="checkbox2" formControlName="politicas">
        <a  class="" for="checkbox2" data-toggle="modal" data-target="#exampleModal2">
          Acepto Políticas De Privacidad
        </a>
      </fieldset>
      <fieldset class="form-check mb-3">
        <input type="checkbox" class="form-check-input" id="checkbox3" formControlName="habeas">
        <a  class="" for="checkbox3" data-toggle="modal" data-target="#exampleModal3">
          Acepto Habeas Data
        </a>
      </fieldset>
      <!-- <fieldset class="form-check mb-3">
        <input type="checkbox" class="form-check-input" id="checkbox2" formControlName="politicas">

        <a href="../../../assets/pdf/Politica-de-privacidad.pdf" for="checkbox2" class="form-check-label text-white">Acepta Politicas De Privacidad</a>
      </fieldset>
      <fieldset class="form-check mb-3">
        <input type="checkbox" class="form-check-input" id="checkbox3" formControlName="habeas">

        <a href="../../../assets/pdf/Habeas-Data.pdf" for="checkbox3" class="form-check-label text-white">Acepta Habeas Data</a>
      </fieldset> -->



     <div>
      <button type="button"  (click)="calc(0)" class="mx-3">Atrás  <i class="far fa-hand-point-left"></i></button>
        <button type="submit"  [disabled]="miFormulario.invalid"><i class="fa fa-save"></i> Continuar</button>

      </div>


    </form>
    <!-- Form -->

  </div>

</div>
<!--/.Card-->



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Términos y Condiciones</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <embed src="../../../assets/pdf/Terminos Y Condiciones - Lendillano.pdf" frameborder="0" width="100%" height="400px">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Políticas De Privacidad</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <embed src="../../../assets/pdf/Politica-de-privacidad.pdf" frameborder="0" width="100%" height="400px">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Habeas Data</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <embed src="../../../assets/pdf/Habeas-Data.pdf" frameborder="0" width="100%" height="400px">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
