<div class="panel-header">
  <div class="header text-center">
    <h2 class="title">Formulario De Datos De Trabajo</h2>
  </div>
</div>


<div class="main-content">
  <div class="row">


    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Ahora Completa Los Datos De Tu Trabajo</h5>
        </div>
        <div class="row">
          <div class="col-md-12 px-5 pl-5 mt-5">
            <div class="form-group">
              <label>Escoje Tu Modalidad De Trabajo</label>
              <select (change)="modalidad(tipo.value)" name="tipo"
              class="form-control custom-select" #tipo
              required>
                <option selected disabled value="">Escoge...</option>
                <option value="empleado">Empleado</option>
                <option value="independiente">Independiente</option>
                <!-- <option value="empresa">Empresa</option> -->
              </select>
            </div>
          </div>
        </div>



        <!-- card body empleado -->

        <div class="card-body" *ngIf="sw == 1">
          <form autocomplete="off" [formGroup]="miFormularioEmpleado"
            (ngSubmit)="guardarEmpleado()">

            <!-- Primera Fila -->
            <div class="row">

              <!-- tiempoTrabajando -->
              <mat-form-field class="form-group col-md-6 pl-1">
                <mat-label>Antiguedad En Meses</mat-label>
                <input matInput formControlName="tiempoTrabajando" type="number"
                  class="form-control">
                <mat-error *ngIf="campoEsValidoEmpleado('tiempoTrabajando')">
                  {{getErrorEmpleado('tiempoTrabajando')}}
                </mat-error>
              </mat-form-field>

              <!-- Ingreso Mensual -->
              <mat-form-field class="form-group col-md-6 pl-1">
                <mat-label>Ingreso Mensual</mat-label>
                <input matInput formControlName="ingresoMensual" type="number"
                  class="form-control">
                <mat-error *ngIf="campoEsValidoEmpleado('ingresoMensual')">
                  {{getErrorEmpleado('ingresoMensual')}}
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Segunda Fila -->
            <div class="row">

              <!-- Direccion De La Empresa -->
              <mat-form-field class="form-group col-md-12 pl-1">
                <mat-label>Direccion De La Empresa</mat-label>
                <input matInput formControlName="direccion" type="text"
                  class="form-control">
                <mat-error *ngIf="campoEsValidoEmpleado('direccion')">
                  {{getErrorEmpleado('direccion')}}
                </mat-error>
              </mat-form-field>

            </div>

            <!-- Tercera Fila -->
            <div class="row">

              <!-- Telefono -->
              <mat-form-field class="form-group col-md-4 pl-1">
                <mat-label>Celular o Telefono</mat-label>
                <input matInput formControlName="telefono" type="number"
                  class="form-control">
                <mat-error *ngIf="campoEsValidoEmpleado('telefono')">
                  {{getErrorEmpleado('telefono')}}
                </mat-error>
              </mat-form-field>

              <!-- Jefe Inmediato -->
              <mat-form-field class="form-group col-md-4 pl-1">
                <mat-label>Jefe Inmediato</mat-label>
                <input matInput formControlName="jefeInmediato" type="text"
                  class="form-control">
                <mat-error *ngIf="campoEsValidoEmpleado('jefeInmediato')">
                  {{getErrorEmpleado('jefeInmediato')}}
                </mat-error>
              </mat-form-field>

              <!--Cargo Actual -->
              <mat-form-field class="form-group col-md-4 pl-1">
                <mat-label>Cargo Actual</mat-label>
                <input matInput formControlName="cargoActual" type="text"
                  class="form-control">
                <mat-error *ngIf="campoEsValidoEmpleado('cargoActual')">
                  {{getErrorEmpleado('cargoActual')}}
                </mat-error>
              </mat-form-field>

            </div>

            <!-- Boton De Enviar Formulario Empleado-->
            <div class="form-group d-flex h-100">
              <div class="align-self-end ml-auto">
                <button type="submit" class="btn btn-primary btn-block"
                  [disabled]="miFormularioEmpleado.invalid">
                  <i class="fa fa-save"></i>
                  Siguiente
                </button>
              </div>
            </div>
          </form>
        </div>

        <!-- card Independiente -->
        <div class="card-body" *ngIf="sw == 2">
          <form autocomplete="off" [formGroup]="miFormularioIndependiente"
            (ngSubmit)="guardarIndependiente()">


            <!-- Primera Fila -->
            <div class="row">

              <!-- tiempoTrabajando -->
              <mat-form-field class="form-group col-md-6 pl-1">
                <mat-label>Cuanto Años Llevas Como Independiente <small>(Si Llevas meses coloca 0)</small>  </mat-label>
                <input matInput formControlName="tiempoTrabajando" type="number"
                  class="form-control">
                <mat-error *ngIf="campoEsValidoIndependiente('tiempoTrabajando')">
                  {{getErrorIndependiente('tiempoTrabajando')}}
                </mat-error>
              </mat-form-field>

              <!-- Ingreso Mensual -->
              <mat-form-field class="form-group col-md-6 pl-1">
                <mat-label>Ingreso Mensual</mat-label>
                <input matInput formControlName="ingresoMensual" type="number"
                  class="form-control">
                <mat-error *ngIf="campoEsValidoIndependiente('ingresoMensual')">
                  {{getErrorIndependiente('ingresoMensual')}}
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Segunda Fila -->
            <div class="row">

              <!-- Direccion De La Empresa -->
              <mat-form-field class="form-group col-md-12 pl-1">
                <mat-label>Direccion Donde Laboras</mat-label>
                <input matInput formControlName="direccion" type="text"
                  class="form-control">
                <mat-error *ngIf="campoEsValidoIndependiente('direccion')">
                  {{getErrorIndependiente('direccion')}}
                </mat-error>
              </mat-form-field>

            </div>

            <!-- Tercera Fila -->
            <div class="row">

              <!-- Telefono -->
              <mat-form-field class="form-group col-md-6 pl-1">
                <mat-label>Celular o Telefono</mat-label>
                <input matInput formControlName="telefono" type="number"
                  class="form-control">
                <mat-error *ngIf="campoEsValidoIndependiente('telefono')">
                  {{getErrorIndependiente('telefono')}}
                </mat-error>
              </mat-form-field>

                <!-- Actividad Comercial -->
                <mat-form-field class="form-group col-md-6 pl-1">
                  <mat-label>Actividad Comercial</mat-label>
                  <input matInput formControlName="actividadComercial" type="text"
                    class="form-control">
                  <mat-error *ngIf="campoEsValidoIndependiente('actividadComercial')">
                    {{getErrorIndependiente('actividadComercial')}}
                  </mat-error>
                </mat-form-field>

            </div>
            <!-- Boton De Enviar Formulario Independiente-->
            <div class="form-group d-flex h-100">
              <div class="align-self-end ml-auto">
                <button type="submit" class="btn btn-primary btn-block"
                  [disabled]="miFormularioIndependiente.invalid">
                  <i class="fa fa-save"></i>
                  Siguiente
                </button>
              </div>
            </div>
          </form>
        </div>

        <!-- card Empresa -->

        <div class="card-body" *ngIf="sw == 3">
          <form autocomplete="off" [formGroup]="miFormularioEmpresa"
            (ngSubmit)="guardarEmpresa()">


             <!-- Primera Fila -->
             <div class="row">

              <!-- Nombre Empresa -->
              <mat-form-field class="form-group col-md-6 pl-1">
                <mat-label>Nombre De La Empresa</mat-label>
                <input matInput formControlName="nombreEmpresa" type="text"
                  class="form-control">
                <mat-error *ngIf="campoEsValidoEmpresa('nombreEmpresa')">
                  {{getErrorEmpresa('nombreEmpresa')}}
                </mat-error>
              </mat-form-field>

              <!-- Nit -->
              <mat-form-field class="form-group col-md-6 pl-1">
                <mat-label>Nit De La Empresa</mat-label>
                <input matInput formControlName="nitEmpresa" type="string"
                  class="form-control">
                <mat-error *ngIf="campoEsValidoEmpresa('nitEmpresa')">
                  {{getErrorEmpresa('nitEmpresa')}}
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Segunda Fila -->
            <div class="row">

                <!-- Actividad Comercial -->
                <mat-form-field class="form-group col-md-6 pl-1">
                  <mat-label>Actividad Comercial</mat-label>
                  <input matInput formControlName="actividadComercial" type="text"
                    class="form-control">
                  <mat-error *ngIf="campoEsValidoEmpresa('actividadComercial')">
                    {{getErrorEmpresa('actividadComercial')}}
                  </mat-error>
                </mat-form-field>

                <!-- Ingreso Mesual -->
                <mat-form-field class="form-group col-md-6 pl-1">
                  <mat-label>Ingreso Mensual</mat-label>
                  <input matInput formControlName="ingresoMensual" type="number"
                    class="form-control">
                  <mat-error *ngIf="campoEsValidoEmpresa('ingresoMensual')">
                    {{getErrorEmpresa('ingresoMensual')}}
                  </mat-error>
                </mat-form-field>

              </div>

              <!-- Tercera Fila -->
              <div class="row">

                <!-- Direccion De La Empresa -->
                <mat-form-field class="form-group col-md-6 pl-1">
                  <mat-label>Direccion</mat-label>
                  <input matInput formControlName="direccion" type="text"
                    class="form-control">
                  <mat-error *ngIf="campoEsValidoEmpresa('direccion')">
                    {{getErrorEmpresa('direccion')}}
                  </mat-error>
                </mat-form-field>

                  <!-- Telefono De La Empresa -->
                  <mat-form-field class="form-group col-md-6 pl-1">
                    <mat-label>Celular o Telefono</mat-label>
                    <input matInput formControlName="telefonoEmpresa" type="number"
                      class="form-control">
                    <mat-error *ngIf="campoEsValidoEmpresa('telefonoEmpresa')">
                      {{getErrorEmpresa('telefonoEmpresa')}}
                    </mat-error>
                  </mat-form-field>

              </div>

                <!-- Boton De Enviar Formulario Empresa-->
              <div class="form-group d-flex h-100">
              <div class="align-self-end ml-auto">
                <button type="submit" class="btn btn-primary btn-block"
                  [disabled]="miFormularioEmpresa.invalid">
                  <i class="fa fa-save"></i>
                  Siguiente
                </button>
              </div>
            </div>
          </form>
        </div>



      </div>
    </div>


    <div class="col-md-4">
      <app-datosconstruccion></app-datosconstruccion>
    </div>
  </div>

