
  <div class="our-team">
    <p><small>Click En Imagen Para Cambiarla</small></p>
    <!-- <p><small>Tamaño 130x130 px</small></p> -->
 <div class="picture">

<div *ngIf="avatar">
   <img  [src]="baseUrlN+avatar" class="img-fluid" (click)="photoInput.click()">
  </div>
  <div *ngIf="!avatar">
    <img [src]="'../../../assets/img/mike.jpg'" class="img-fluid" (click)="photoInput.click()">
   </div>
 </div>
 <div class="team-content">
  <button *ngIf="file" class="btn button3" (click)="uploadPhoto()">Cambiar</button>
   <h3 class="name">{{usuario.name | uppercase}} {{usuario.surname | uppercase}}</h3>
   <h4 class="email">{{usuario.email}}</h4>
   <h4 routerLink="/dashboard/misdatos" >Actualiza Tus Datos</h4>
   <input type="file" class="d-none" (change)="OnPhotoSelected($event)" #photoInput>
   <label>{{estollegadelpadre}}</label>
 </div>

</div>
<div *ngIf="this.usuarioTest?.cedulaPath">
  <a [href]="baseUrlN+cedula"mat-raised-button target="_blank">Ver Mi Cedula</a>
 </div>
<div *ngIf="this.usuarioTest?.pasaportePath">
  <a [href]="baseUrlN+pasaporte"mat-raised-button target="_blank">Ver Mi Pasaporte</a>
 </div>
<div *ngIf="this.requests[0]?.tarjetavPath">
  <a [href]="baseUrlN+tarjetav"mat-raised-button target="_blank">Ver Mi Tarjeta De Propiedad</a>
 </div>
<div *ngIf="this.requests[0]?.matriculaPath">
  <a [href]="baseUrlN+matricula"mat-raised-button target="_blank">Ver Mi Matricula Inmobiliaria</a>
 </div>
<div *ngIf="this.requests[0]?.extractoPath">
  <a [href]="baseUrlN+extracto"mat-raised-button target="_blank">Ver Mi Extracto Bancario</a>
 </div>
