          <!--Card-->
          <div class="card x">

            <!--Card content-->
            <div class="card-body ">

              <!-- Form -->
              <form name="">
                <!-- Heading -->
                <h3 class="text-light text-center">
                  <strong>Requisitos Prestamo Sobrer Hipoteca:</strong>
                </h3>
                <hr>

                <div>
                  <p class="text-white"><i class="fas fa-asterisk text-white"></i>  Ser mayor de 18 años</p>
                </div>
                <div >
                <p class="text-white"><i class="fas fa-asterisk text-white"></i>  Tener correo electrónico</p>
                </div>
                <div>
                 <p class="text-white"><i class="fas fa-asterisk text-white"></i>  Tener una cuenta bancaria a tu nombre</p>
                </div>
                <div>
                 <p class="text-white"><i class="fas fa-asterisk text-white"></i>  Ser titular del inmbueble</p>
                </div>
                <div>
                 <p class="text-white"><i class="fas fa-asterisk text-white"></i>  El inmueble debe estar libre de embargos</p>
                </div>

                <div class="text-center">
                  <button type="button" (click)="calc(0)" class="btn btn-indigo  btn-sm">Calcula Tu Prestamo</button>
                  <hr>
                </div>

              </form>
              <!-- Form -->

            </div>

          </div>
          <!--/.Card-->
