<!-- Full Page Intro -->
<div class="view full-page-intro "
  style="background-image: url('../../../../assets/images/portada-construccion2.jpg'); background-repeat: no-repeat; background-size: cover;">

  <!-- Mask & flexbox options-->
  <div class="mask rgba-black-light d-flex justify-content-center align-items-center ">

    <!-- Content -->
    <div class="container ">

      <!--Grid row-->
      <div class="row wow fadeIn ">

        <!--Grid column-->
        <div class="col-md-6 col-xl-5 white-text text-center text-md-left mtx">

          <h1 class="display-4 font-weight-bold ">Prestamos Para Construcción</h1>

          <hr class="hr-light">

          <p>
            <strong>Un prestamo para lograr el sueño de tu vida.</strong>
          </p>

          <p class="mb-4 d-none d-md-block">
            <strong>Encontrarás respuesta a tu solicitud de crédito en línea en poco tiempo.</strong>
             <!-- <strong>de crédito en línea en minutos.</strong> -->
          </p>
          <!-- <i class="fas fa-list-ol"></i> -->
          <a type="button" (click)="requisitos()" class="btn btn-indigo btn-lg">      Requisitos

          </a>
          <a  type="button" (click)="register()" class="btn btn-indigo btn-lg">Solicita Tu Prestamo
            <!-- <i class="fas fa-wallet"></i> -->
          </a>

          <hr>

          <p class="lead mb0">Solicite desde<strong>$100.000.000 hasta $700.000.000</strong></p>
          <span>(Te ayudamos con todos los insumos para tu construccion )</span>


          <!-- <div>
            <hr>
            <p>Ya Tienes Cuenta?</p>
            <button class="btn btn-indigo btn-md" type="button" (click)="print()">INGRESA</button>
          </div> -->
        </div>




        <!--Grid column-->
        <div class="col-md-6 col-xl-5  mt-5">

          <div [ngSwitch]="value">
          <!--Card-->
          <app-calc-construccion    *ngSwitchCase="0"></app-calc-construccion>
          <app-card     *ngSwitchCase="1"></app-card>
          <app-login    *ngSwitchCase="2"></app-login>
          <app-register (value)="valuethesoon($event)" *ngSwitchCase="3"></app-register>
          <app-rq4   (value)="valuethesoon($event)"    *ngSwitchCase="4"></app-rq4>
          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
    <!-- Content -->

  </div>
  <!-- Mask & flexbox options-->

</div>
<!-- Full Page Intro -->
