<!--Card-->
<div class="card x">
  <!--Card content-->
  <div class="card-body">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb10">
        <h2 class="text-white mb20">Obten Tu Prestamo Hoy</h2>

        <div class="slider1">
          <h4 class="text-white">Cuanto Dinero Necesitas?</h4>

          <div id="pricipal-slide1"></div>
          <div>
            <mat-slider class="min" thumbLabel [displayWith]="formatLabel1" step="50000" min="2000000"
              max="50000000" name="valor" [(ngModel)]="valor" (input)="changeValueValor($event)">
            </mat-slider>
            <p>
              <span *ngIf="valor > 1" class="text-white">$  {{valor | number: '1.0-0'}} pesos</span>

            </p>

          </div>
        </div>
        <div class="slider">
          <h4 class="text-white">A Cuantos Meses Deseas El Prestamo?</h4>
          <div id="totalyear-slide"></div>
          <div>
            <mat-slider name="meses" class="max" thumbLabel [displayWith]="formatLabel" tickInterval="1" min="1" max="36"
              [(ngModel)]="meses" (input)="changeValueMeses($event)"></mat-slider>
            <p>
              <span *ngIf="meses > 1" class="text-white">{{meses}} meses</span>
              <span *ngIf="meses <= 1" class="text-white">{{meses}} mes</span>
            </p>
          </div>
        </div>

      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
        <div class="single-total">
          <h4 class="text-white lead-cal-small-text">Interés </h4>
          <h5  class="text-white emi-price" id="emi">$ {{interes | number: '1.0-0'}}</h5>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 ">
        <div class="single-total">
          <h4 class="text-white lead-cal-small-text">Iva </h4>
          <h5 class="text-white" id="tbl_emi">$ {{iva | number: '1.0-0'}}</h5>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
        <div class="single-total">
          <h4 class="text-white lead-cal-small-text">Aval</h4>
          <h5 class="text-white" id="tbl_la">$ {{aval | number: '1.0-0'}}</h5>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
        <div class="single-total">
          <h4 class="text-white lead-cal-small-text">Tecno</h4>
          <h5 class="text-white" id="tbl_la">$ {{tecno | number: '1.0-0'}}</h5>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
        <div class="single-total">
          <h4 class="text-white lead-cal-small-text">Total:</h4>
          <h5 class="text-white" id="tbl_la">$ {{total | number: '1.0-0'}}</h5>
        </div>
      </div>
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8">
        <div class="single-total">
          <h4 class="text-white lead-cal-small-text">Cuota Mensual: </h4>
          <h5 class="text-white" id="tbl_la">$ {{emi | number: '1.0-0'}} pesos</h5>
        </div>
      </div>
      <!-- <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-right">
        <button type="button" (click)="calc(3)"  class="btn btn-indigo btn-sm">APLICA YA</button>
      </div> -->
    </div>
  </div>
</div>

<!--/.Card-->
