<div class="panel-header">
  <div class="header text-center">
    <h2 class="title">SOLICITUD DE PRESTAMOS</h2>
  </div>
</div>

<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Solicitud De Prestamo</h5>
        </div>
        <div class="card-body">
          <form class="form" (ngSubmit)="guardar()"
            [formGroup]="formularioSolicitud" #f="ngForm">


            <mat-card class="card">
              <h3>Crear Solicitud</h3>
              <mat-card-content>

                <div class="container">
                  <mat-grid-list cols="1" rowHeight="80px">

                    <mat-grid-tile>
                      <mat-form-field><input formControlName="idUser" type="text" matInput placeholder="Id Usuario"/></mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile>
                      <mat-form-field class="dd">
                        <mat-select class="sliderx dd" #x placeholder="Tipo De Prestamo?" formControlName="idProduct">
                          <span *ngFor="let producto of productos">
                          <mat-option [value]="producto._id" *ngIf="producto.activo === true">{{ producto.name }}</mat-option></span>
                        </mat-select>
                        <span class="form-text text-danger" *ngIf="campoEsValido('idProduct')">Debe Seleccionar Un Tipo De Prestamo</span>
                      </mat-form-field>
                    </mat-grid-tile>
                  </mat-grid-list>



                  <mat-grid-list *ngIf="valorSolicitado" cols="1" rowHeight="160px" >
                    <mat-grid-tile >
                      <div class="dd dd1">
                        <!-- <h4 class="">Prestamos Hasta el 50% Del Avaluo Del Vehiculo?</h4> -->
                        <h3 class="text-white">Cuanto Dinero Necesitas?</h3>

                        <!-- <input  formControlName="value" matInput placeholder="" required /> -->
                        <mat-slider formControlName="value" class="min dd dd1" thumbLabel [displayWith]="formatThumbLabel" tickInterval="5"
                           [step]="step" [min]=valuemin [max]=valuemax name="valorSolicitado"> </mat-slider>
                        <h3 class="text-white"><span *ngIf="valorSolicitado > 1 && valorSolicitado < 1000000" >$ {{ valorSolicitado | number: "1.0-0" }} pesos</span></h3>
                        <h3 class="text-white"><span *ngIf="valorSolicitado >= 1000000" >$ {{ valorSolicitado | number: "1.0-0" }} millones</span></h3>
                      </div>
                    </mat-grid-tile>


                    <mat-grid-tile>
                      <div class="dd">
                        <h3>Que Plazo Deseas?</h3>
                        <!-- <input formControlName="time" type="number" matInput placeholder="" required /> -->
                        <mat-slider formControlName="time" name="plazo"
                          class="max dd" thumbLabel tickInterval="1" [min]=termmin
                          [max]=termmax>
                        </mat-slider>
                        <h3>
                          <span *ngIf="plazo> 1" class="">{{ plazo }} meses</span>
                          <span *ngIf="plazo <= 1" class="">{{ plazo }} mes</span>
                        </h3>
                      </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                      <mat-form-field class="dd" appearance="outline" >
                        <mat-label>Comentarios</mat-label>
                        <textarea class="dd" matInput formControlName="description" placeholder="Opcional" required></textarea>
                      </mat-form-field>
                    </mat-grid-tile>
                  </mat-grid-list>
                </div>
              </mat-card-content>
              <mat-card-actions>
                <button type="submit" class="button col" [disabled]="formularioSolicitud.invalid">Empezar La Solicitud</button>
              </mat-card-actions>
            </mat-card>
          </form>

        </div>
      </div>
    </div>

    <mat-card class="col-md-4">
      <!-- <mat-card-header>

      </mat-card-header> -->
      <div mat-card-avatar class="example-header-image"></div>
      <!-- <mat-card-title>Calculadora: </mat-card-title> -->


      <!-- VALORES COMUNES -->


      <mat-card-title>{{ nombre}}</mat-card-title>
      <mat-card-subtitle>Tasa Efectiva Mes MV: {{ iMesVencido | number:'1.4'}} %</mat-card-subtitle>
      <mat-card-subtitle>Tasa Efectiva Anual E.A: {{ iEfectivoAnual | number:'1.2'}} %</mat-card-subtitle>
      <mat-card-subtitle>E.A Maxima 2021: {{ iEfectivoAnualMax | number:'1.2'}} %</mat-card-subtitle>
      <hr>
      <mat-card-title>Valor Solicitado: $ {{ valorSolicitado | number: "1.0-0" }}</mat-card-title>
      <mat-card-title *ngIf="plazo > 1">Plazo Solicitado: $ {{ plazo }} meses</mat-card-title>
      <mat-card-title *ngIf="plazo <= 1">Plazo Solicitado: $ {{ plazo }} mes</mat-card-title>

      <!-- VALORES A RESTAR -->
      <hr *ngIf="comisionAdminHipo1 > 0 && registroHipoteca > 0 &&  interesesAnticipados > 0 && parqueadero > 0 && peritaje > 0 && registroSimit > 0 && gmfCuatroxMil > 0 && auditorObra > 0">
      <mat-card-title *ngIf="comisionAdminHipo1 > 0 && registroHipoteca > 0 &&  interesesAnticipados > 0 && parqueadero > 0 && peritaje > 0 && registroSimit > 0 && gmfCuatroxMil > 0 && auditorObra > 0">Valores Que Se Descuentan Al Valor Solicitado</mat-card-title>
      <hr >
      <mat-card-subtitle *ngIf="comisionAdminHipo1 > 0">Comision Por Administracion: $ {{ comisionAdminHipo1 | number: "1.0-0" }}</mat-card-subtitle>
      <mat-card-subtitle *ngIf="registroHipoteca > 0">Registro Hipoteca: $ {{ registroHipoteca | number: "1.0-0" }}</mat-card-subtitle>
      <mat-card-subtitle *ngIf="interesesAnticipados > 0">Intereses Anticipados: $ {{ interesesAnticipados | number: "1.0-0" }}</mat-card-subtitle>

      <!-- <mat-card-subtitle *ngIf="parqueadero > 0">Parqueadero 24H: $ {{ parqueadero | number: "1.0-0" }}</mat-card-subtitle> -->
      <mat-card-subtitle *ngIf="peritaje > 0">Peritaje: $ {{ peritaje | number: "1.0-0" }}</mat-card-subtitle>
      <mat-card-subtitle *ngIf="registroSimit > 0">Registro Simit: $ {{ registroSimit | number: "1.0-0" }}</mat-card-subtitle>
      <mat-card-subtitle *ngIf="valorgmf > 0">GMF: $ {{ valorgmf | number: "1.0-0" }}</mat-card-subtitle>
      <mat-card-subtitle *ngIf="valorauditorObra > 0">Auditor Obra: $ {{ valorauditorObra | number: "1.0-0" }}</mat-card-subtitle>


      <hr>
      <!-- VALOR QUE SE CONSIGNARA -->
      <mat-card-subtitle>Valor Neto Que Se Te Consignara: $ {{ valorConsignar | number: "1.0-0" }}</mat-card-subtitle>
      <hr>
      <mat-card-title>Composicion De La Cuota</mat-card-title>
      <hr>
      <!-- VALORES A SUMAR -->
      <mat-card-subtitle>Cuota <small>(Capital + Interes)</small>: $ {{ valorCuotaBase | number: "1.0-0" }}</mat-card-subtitle>

      <mat-card-subtitle>Administracion: $ {{ administracion | number: "1.0-0" }}</mat-card-subtitle>
      <mat-card-subtitle>Iva: $ {{ iva | number: "1.0-0" }}</mat-card-subtitle>
      <!-- <mat-card-subtitle>Intereses: $ {{ soloInteres | number: "1.0-0" }}</mat-card-subtitle> -->
      <mat-card-subtitle *ngIf="aval > 0">Aval: $ {{ aval | number: "1.0-0" }}</mat-card-subtitle>
      <!-- <mat-card-subtitle >totalpersonal: $ {{ totalPersonal | number: "1.0-0" }}</mat-card-subtitle> -->


      <mat-card-title *ngIf="totalCredito > 0">Total Credito: $ {{ totalCredito | number: "1.0-0" }}</mat-card-title>
      <mat-card-title>Valor Cuota Mensual: $ {{ valorCuotaTotal | number: "1.0-0" }}</mat-card-title>
      <!-- <mat-card-title>Valor Cuota Mensual: {{ emi | number: "1.0-0" }}</mat-card-title> -->
      <mat-card-content>
        <!-- <mat-card-title>Requisitos: </mat-card-title>
        <mat-card-subtitle>Datos Personales</mat-card-subtitle>
        <mat-card-subtitle>Datos Del Predio</mat-card-subtitle>
        <mat-card-subtitle>Datos Del Vehiculo</mat-card-subtitle>
        <mat-card-subtitle>Datos De La Construccion</mat-card-subtitle> -->
      </mat-card-content>
      <mat-card-actions>
        <!--
          <button class="btSelectTodo" mat-button >Pendiente</button>
          <button class="btSelectInProgress" mat-button >Asignada</button>
          <button class="btSelectDone" mat-button >Aprobada</button>
          <button class="btSelectErr" mat-button >Rechazada</button> -->
      </mat-card-actions>
    </mat-card>
  </div>
</div>


<!-- <h3>Formulario:</h3>
<pre>Valid:{{formularioSolicitud.valid}}</pre>

<pre>{{iMesVencido}}</pre>
<pre>{{valorSolicitado}}</pre>

<pre>{{formularioSolicitud.value | json}}</pre> -->

<!-- <pre>{{producto.regInmueble}}</pre>
<pre>{{producto.regPersonales}}</pre>
<pre>{{producto.regVehiculo}}</pre>
<pre>{{producto.regTrabajo}}</pre>
<pre>{{producto.regReferencias}}</pre> -->
